<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加客户</title>

    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!--relevantuser-->
    <script type="text/javascript">
        var inputindex = 1;

        function addcustomer() {
            var relevantuser = window.localStorage.userinfo;
            if (!relevantuser) {
                alert('请登录后进行添加用户');
            } else {
                var nativeplace = document.getElementById('nativeplace_id').value;
                var company = document.getElementById('company_id').value;
                var contacts = '';
                for (var i = 0; i < inputindex; i++) {
                    var val = document.getElementById('contacts_' + i).value;
                    if (val.length > 0) {
                        contacts += val + ',';
                    }
                }
                contacts = contacts.substring(0, contacts.length - 1);
                if (nativeplace == '' && company == '' && contacts == '') {
                    alert('不能所有信息都为空！');
                } else {
                    var args = {
                        'nativeplace': nativeplace,
                        'company': company,
                        'contacts': contacts,
                        'relevantuser': relevantuser,
                    }
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/customer/add",
                        data: args,
                        cache: false,
                        success: function (result) {
                            alert(result.message);
                        },
                        error: function () {
                            alert("异常！");
                        }
                    });
                }
            }
            // 禁止表单提交
            return false
        }

        // 动态添加联系人输入框
        function addcontacts() {
            var id = 'contacts_' + inputindex;
            var htmlstr = "<li><input type=\"text\" placeholder=\"客户名称+联系方式\" name=\"contacts\" class='appendInput' id=" + "\"" + id + "\">" + "</li>";
            $('#ulform').append(htmlstr);
            inputindex++;
        }
    </script>
</head>

<body>

<p class="addcustomertitle">添加客户信息</p>

<div class="addformBox">
    <form id="addform" method="post" onsubmit="return addcustomer()">
        <ul id="ulform">
            <li>公司：<input type="text" name="company" id="company_id"></li>
            <li>地址：<input type="text" name="nativeplace" id="nativeplace_id"></li>
            <li>联系人：<input type="text" name="contacts" id="contacts_0" placeholder="客户名称+联系方式">
                <button type="button" class="addcontacts" onclick="addcontacts()">添加</button>
            </li>
        </ul>
        <button type="submit" title="提交">提交</button>
    </form>
</div>
</body>

</html>